.container {
  padding: 10px;
  display: grid;
  gap: 30px;
}

.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 2.5rem;
}


.page{
  display: flex;
  justify-content: center;
}
.inputContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  .inputContainer{
    width: 650px;
    margin: 0 auto;
  }
}