.container {
  padding: 10px;
  margin-top: 2.2rem;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2.2rem;
}

.title > h1 {
  font-size: 2.3rem;
  text-decoration: underline;
  color: var(--softTextColor);
}

h3 {
  margin-bottom: 1rem;
}

.title-input {
  display: grid;
  gap: 0.7rem;
}

.input-container {
  margin-bottom: 1rem;
  display: grid;
  gap: 0.7rem;
}

.cover-img-container {
  display: grid;
  gap: 0.7rem;
}

input[type="file"] {
  display: none;
}

.cover-img {
  outline: 1px solid var(--darkMText2);
  /* width: 100%; */
  height: -webkit-fill-available;
}

.form-group {
  margin-top: 2rem;
}

.editor {
  margin-bottom: 1rem;
}

.title-input {
  outline: none;
  padding: 0.7rem;
  border: none;
  border-bottom: 1px solid #292828;
  font-size: medium;
  font-family: inherit;
  font-weight: 400;
  /* border-radius: 5px; */
}

.btn-container {
  margin-top: 1rem;
  display: flex;

}

.basic-multi-select.css-b62m3t-container {
  margin: 1rem 0;
  width: 300px;
  z-index: 5;
}

.tags-container {
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
}

.add-tag-btn {
  font-size: 1.5rem;
  position: absolute;
  right: 3px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.add-tag-btn:hover,
.tag-delete-icon:hover {
  opacity: 0.7;
}

.tag-delete-icon {
  cursor: pointer;
  transition: ease-in-out 0.3;
  -webkit-tap-highlight-color: transparent;
}

.tag-title-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.tag-input {
  width: 100%;
  font-family: fontRegularsec;
  border: none;
  outline: #cccccc 1px solid;
  padding: 0.5rem 0rem 0.5rem 00.5rem;
  height: 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.tag {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-size: 0.8rem;
}

.tag-delete-icon {
  font-size: 1.3rem;
}

.tag-container > button {
  outline: none;
  border: none;
  background-color: #2b2b2b;
  color: #cccccc;
}

.tag-container {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: #cccccc;
  height: 30px;
}

.tags-container > strong > span {
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.tag {
  background-color: #cccccc;
  color: #1f1e21;
  padding: 0.3rem;
  border-radius: 5px;
  outline: 1px #1f1e21 solid;
}

.tag-select {
  display: grid;
}
.css-b62m3t-container {
  z-index: 10;
}

.tagsinputcontainer {
  outline: #b9b9b9 1px solid;
  /* padding: 0.5em; */
  padding: 0.5rem 0.1rem;
  border-radius: 3px;
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tagitem {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}
.tagitem .close {
  height: 20px;
  width: 20px;
  background-color: var(--textColor);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tagsinput {
  flex-grow: 1;
  padding: 0.5em 0.1rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.image-label {
  height: 250px;
  outline: #a09fa1 1px solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .row {
    width: 600px;
    margin: 0 auto;
  }
  .ql-toolbar.ql-snow {
    justify-content: start;
  }
  
}
